<md-card>
  <md-card-content>
    <div fxLayout="row"  fxLayoutWrap="wrap">
      <div fxFlex.gt-xs="50" fxFlex="100">
        <h3 class="mt-0">Centers</h3>
      </div>
      <div fxFlex.gt-xs="50" fxFlex="100" class="text-sm-right text-xs-left">
        <button md-raised-button color="primary"  (click)="createCenter()">Create Center</button>
      </div>
    </div>
  </md-card-content>
</md-card>

<ngx-datatable
  class="material"
  [rows]="rows"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="30"
  [rowHeight]="'auto'"
  [limit]="10">
  <ngx-datatable-column name="centerName">
    <ng-template let-column="column" ngx-datatable-header-template>
        Center Name
    </ng-template>
    <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="addressLine1">
    <ng-template let-column="column" ngx-datatable-header-template>
        Address Line 1
    </ng-template>
     <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
       <span *ngIf="row['address']"> {{row['address'].addressLine1}} </span>
      </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="area">
    <ng-template let-column="column" ngx-datatable-header-template>
        Area
    </ng-template>
     <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <span *ngIf="row['address']"> {{row['address'].area}} </span>
      </ng-template>
  </ngx-datatable-column>
   <ngx-datatable-column name="district">
    <ng-template let-column="column" ngx-datatable-header-template>
        District
    </ng-template>
     <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <span *ngIf="row['address']"> {{row['address'].district}} </span>
      </ng-template>
  </ngx-datatable-column>
   <ngx-datatable-column name="district">
    <ng-template let-column="column" ngx-datatable-header-template>
        Action
    </ng-template>
     <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <button md-mini-fab class="mr-1" color="primary" type="submit" (click)="editCenter(row)"><md-icon>edit</md-icon></button>
             <button md-mini-fab class="mr-1" color="warn" type="submit" (click)="deleteCenter(row)"><md-icon>delete</md-icon></button>
      </ng-template>
  </ngx-datatable-column>
 
 </ngx-datatable>