<md-card>
   <md-card-content>
  <div fxLayout="row"  fxLayoutWrap="wrap">
      <div fxFlex.gt-xs="50" fxFlex="100">
        <h3 class="mt-0" style="text-align: start;">{{pageTitle}}</h3>
      </div>
      <!--<div fxFlex.gt-xs="50" fxFlex="100" class="text-sm-right text-xs-left">
        <button md-raised-button color="primary"  (click)="backToPromoList()">Back To List</button>
      </div>-->
  </div>
  </md-card-content>
  <form [formGroup]="form">
  <md-card-content>
        <div fxLayout="row" class="mb-3" fxLayoutAlign="start center">
          <div class="ml-xs mr-xs" style="width: 50%;" fxLayoutAlign="start center">
            <md-input-container class="ml-xs mr-xs" style="width: 100%;">
              <input mdInput placeholder="Promo Url One" value="{{promo.promoUrlOne}}" [formControl]="form.controls['promoUrlOne']" [(ngModel)]="promo.promoUrlOne" >
            </md-input-container>
              <small *ngIf="form.controls['promoUrlOne'].hasError('required') && form.controls['promoUrlOne'].touched" class="mat-text-warn">You must include a url.</small>
          </div>  
          <div class="ml-xs mr-xs" style="width: 100%;" fxLayoutAlign="start center">
            <!--<input type="file" (change)="promoImageOne($event)" [formControl]="form.controls['promoImageOne']">-->
             <div class="file">
              <label for="file-input">Select Image </label>
              <input type="file" id="file-input" (change)="promoImageOne($event)" accept="image/*" [formControl]="form.controls['promoImageOne']">
            </div>
            <img *ngIf="uploadPromoImageOne" src="{{promoImageOneUrl}}" class="logo" style="width: 120px;height: 100px;margin-left:60px;"/>
          </div>
          <div class="ml-xs mr-xs" style="width: 100%;" fxLayoutAlign="start center">
            <button md-raised-button color="red" type="button" (click)="removePromo('promoImageOne')">Remove</button>
          </div>
        </div>
         <div fxLayout="row" class="mb-3" fxLayoutAlign="start center">
          <div class="ml-xs mr-xs" style="width: 50%;" fxLayoutAlign="start center">
            <md-input-container class="ml-xs mr-xs" style="width: 100%;">
              <input mdInput placeholder="Promo Url Two" value="{{promo.promoUrlTwo}}" [formControl]="form.controls['promoUrlTwo']" [(ngModel)]="promo.promoUrlTwo" >
            </md-input-container>
              <small *ngIf="form.controls['promoUrlTwo'].hasError('required') && form.controls['promoUrlTwo'].touched" class="mat-text-warn">You must include a url.</small>
          </div>  
         <div class="ml-xs mr-xs" style="width: 100%;" fxLayoutAlign="start center">
            <!--<input type="file" (change)="promoImageTwo($event)" [formControl]="form.controls['promoImageTwo']">-->
            <div class="file">
              <label for="file-input">Select Image </label>
              <input type="file" id="file-input" (change)="promoImageTwo($event)" accept="image/*" [formControl]="form.controls['promoImageTwo']">
            </div>
            <img *ngIf="uploadPromoImageTwo" src="{{promoImageTwoUrl}}" class="logo" style="width: 120px;height: 100px; margin-left:60px;"/>
          </div>
          <div class="ml-xs mr-xs" style="width: 100%;" fxLayoutAlign="start center">
            <button md-raised-button color="red" type="button" (click)="removePromo('promoImageTwo')">Remove</button>
          </div>
        </div> 
        <div fxLayout="row" class="mb-3" fxLayoutAlign="start center">
          <div class="ml-xs mr-xs" style="width: 50%;" fxLayoutAlign="start center">
             <md-input-container class="ml-xs mr-xs" style="width: 100%;">
              <input mdInput placeholder="Promo Url Three" value="{{promo.promoUrlThree}}" [formControl]="form.controls['promoUrlThree']" [(ngModel)]="promo.promoUrlThree" >
            </md-input-container>
              <small *ngIf="form.controls['promoUrlThree'].hasError('required') && form.controls['promoUrlThree'].touched" class="mat-text-warn">You must include a url.</small>
        </div>  
         <div class="ml-xs mr-xs" style="width: 100%;" fxLayoutAlign="start center">
            <!--<input type="file" (change)="promoImageThree($event)" [formControl]="form.controls['promoImageThree']">-->
            <div class="file">
              <label for="file-input">Select Image </label>
              <input type="file" id="file-input" (change)="promoImageThree($event)" accept="image/*" [formControl]="form.controls['promoImageThree']">
            </div>
            <img *ngIf="uploadPromoImageThree" src="{{promoImageThreeUrl}}" class="logo" style="width: 120px;height: 100px; margin-left:60px;"/>
          </div>
          <div class="ml-xs mr-xs" style="width: 100%;" fxLayoutAlign="start center">
            <button md-raised-button color="red" type="button" (click)="removePromo('promoImageThree')">Remove</button>
          </div>
        </div> 
        <div fxLayout="row" class="mb-3" fxLayoutAlign="start center">
          <div class="ml-xs mr-xs" style="width: 50%;" fxLayoutAlign="start center">
           <md-input-container class="ml-xs mr-xs" style="width: 100%;">
              <input mdInput placeholder="Promo Url Four" value="{{promo.promoUrlFour}}" [formControl]="form.controls['promoUrlFour']" [(ngModel)]="promo.promoUrlFour" >
            </md-input-container>
              <small *ngIf="form.controls['promoUrlFour'].hasError('required') && form.controls['promoUrlFour'].touched" class="mat-text-warn">You must include a url.</small>
        </div>  
           <div class="ml-xs mr-xs" style="width: 100%;" fxLayoutAlign="start center">
            <!--<input type="file" (change)="promoImageFour($event)" [formControl]="form.controls['promoImageFour']">-->
            <div class="file">
              <label for="file-input">Select Image </label>
              <input type="file" id="file-input" (change)="promoImageFour($event)" accept="image/*" [formControl]="form.controls['promoImageFour']"> 
            </div>
            <img *ngIf="uploadPromoImageFour" src="{{promoImageFourUrl}}" class="logo" style="width: 120px;height: 100px; margin-left:60px;"/>
          </div>
          <div class="ml-xs mr-xs" style="width: 100%;" fxLayoutAlign="start center">
            <button md-raised-button color="red" type="button" (click)="removePromo('promoImageFour')">Remove</button>
          </div>
        </div>
      </md-card-content>
    <hr>
      <md-card-actions>
          <button md-raised-button color="primary" type="submit" (click)="createOrUpdatePromo()" [disabled]="!form.valid">Submit</button>
        </md-card-actions>
  </form>
</md-card>
   
