<md-card>
   <md-card-content>
  <div fxLayout="row"  fxLayoutWrap="wrap">
      <div fxFlex.gt-xs="50" fxFlex="100">
        <h3 class="mt-0" style="text-align: start;">{{pageTitle}}</h3>
      </div>
      <!--<div fxFlex.gt-xs="50" fxFlex="100" class="text-sm-right text-xs-left">
        <button md-raised-button color="primary"  (click)="backToSliderList()">Back To List</button>
      </div>-->
  </div>
  </md-card-content>
  <form [formGroup]="form">
  <md-card-content>
        <div fxLayout="row" class="mb-3" fxLayoutAlign="start center">
          <div class="ml-xs mr-xs" style="width: 100%;" fxLayoutAlign="start center">
            <!--<input type="file" (change)="sliderImageOne($event)" [formControl]="form.controls['sliderImageOne']">-->
             <div class="file">
              <label for="file-input">Select Image </label>
              <input type="file" id="file-input" (change)="sliderImageOne($event)" accept="image/*" [formControl]="form.controls['sliderImageOne']">
            </div>
            <img *ngIf="uploadSliderImageOne" src="{{sliderImageOneUrl}}" class="logo" style="width: 120px;height: 100px;margin-left:60px;"/>
          </div>
        </div>
         <div fxLayout="row" class="mb-3" fxLayoutAlign="start center">
         <div class="ml-xs mr-xs" style="width: 100%;" fxLayoutAlign="start center">
            <!--<input type="file" (change)="sliderImageTwo($event)" [formControl]="form.controls['sliderImageTwo']">-->
            <div class="file">
              <label for="file-input">Select Image </label>
              <input type="file" id="file-input" (change)="sliderImageTwo($event)" accept="image/*" [formControl]="form.controls['sliderImageTwo']">
            </div>
            <img *ngIf="uploadSliderImageTwo" src="{{sliderImageTwoUrl}}" class="logo" style="width: 120px;height: 100px; margin-left:60px;"/>
          </div>
        </div> 
        <div fxLayout="row" class="mb-3" fxLayoutAlign="start center">
           <div class="ml-xs mr-xs" style="width: 100%;" fxLayoutAlign="start center">
            <!--<input type="file" (change)="sliderImageThree($event)" [formControl]="form.controls['sliderImageThree']">-->
            <div class="file">
              <label for="file-input">Select Image </label>
              <input type="file" id="file-input" (change)="sliderImageThree($event)" accept="image/*" [formControl]="form.controls['sliderImageThree']">
            </div>
            <img *ngIf="uploadSliderImageThree" src="{{sliderImageThreeUrl}}" class="logo" style="width: 120px;height: 100px; margin-left:60px;"/>
          </div>
        </div> 
        <div fxLayout="row" class="mb-3" fxLayoutAlign="start center">
           <div class="ml-xs mr-xs" style="width: 100%;" fxLayoutAlign="start center">
            <!--<input type="file" (change)="sliderImageFour($event)" [formControl]="form.controls['sliderImageFour']">-->
            <div class="file">
              <label for="file-input">Select Image </label>
              <input type="file" id="file-input" (change)="sliderImageFour($event)" accept="image/*" [formControl]="form.controls['sliderImageFour']"> 
            </div>
            <img *ngIf="uploadSliderImageFour" src="{{sliderImageFourUrl}}" class="logo" style="width: 120px;height: 100px; margin-left:60px;"/>
          </div>
        </div>
        <div fxLayout="row" class="mb-3" fxLayoutAlign="start center">
           <div class="ml-xs mr-xs" style="width: 100%;" fxLayoutAlign="start center">
            <!--<input type="file" (change)="sliderImageFour($event)" [formControl]="form.controls['sliderImageFour']">-->
            <div class="file">
              <label for="file-input">Select Image </label>
              <input type="file" id="file-input" (change)="sliderImageFive($event)" accept="image/*" [formControl]="form.controls['sliderImageFive']"> 
            </div>
            <img *ngIf="uploadSliderImageFive" src="{{sliderImageFiveUrl}}" class="logo" style="width: 120px;height: 100px; margin-left:60px;"/>
          </div>
        </div>
      </md-card-content>
    <hr>
      <md-card-actions>
          <button md-raised-button color="primary" type="submit" (click)="createOrUpdateSlider()" [disabled]="!form.valid">Submit</button>
        </md-card-actions>
  </form>
</md-card>
   
