<md-card>
   <md-card-content>
  <div fxLayout="row"  fxLayoutWrap="wrap">
      <div fxFlex.gt-xs="50" fxFlex="100">
        <h3 class="mt-0" style="text-align: start;">{{pageTitle}}</h3>
      </div>
     <div fxFlex.gt-xs="50" fxFlex="100" class="text-sm-right text-xs-left">
        <button md-raised-button color="primary"  (click)="backToSliderList()">Back To List</button>
      </div>
  </div>
  </md-card-content>
  <form [formGroup]="form">
  <md-card-content>
        <div fxLayout="row" class="mb-3" fxLayoutAlign="start center">
          <div class="ml-xs mr-xs" style="width: 100%;" fxLayoutAlign="start center">
             <div class="file">
              <label for="file-input">Select Image </label>
              <input type="file" id="file-input" (change)="sliderImage($event)" accept="image/*" [formControl]="form.controls['imageUrl']">
            </div>
            <img *ngIf="uploadImage" src="{{imageUrl}}" class="logo" style="width: 120px;height: 100px;margin-left:60px;"/>
          </div>
        </div>
         <div fxLayout="row" class="mb-3" fxLayoutAlign="start center">
            <md-input-container style="width: 100%" class="ml-xs mr-xs" style="width: 100%;">
                <input mdInput placeholder="Title"  [(ngModel)]="slider.title" [formControl]="form.controls['title']" type="text" required>
              </md-input-container>
              <small *ngIf="form.controls['title'].hasError('required') && form.controls['title'].touched" class="mat-text-warn">You must include title.</small>
        </div> 
        <div fxLayout="row" class="mb-3" fxLayoutAlign="start center">
            <md-input-container style="width: 100%" class="ml-xs mr-xs" style="width: 100%;">
                <input mdInput placeholder="Description"  [(ngModel)]="slider.description" [formControl]="form.controls['description']" type="text" required>
              </md-input-container>
              <small *ngIf="form.controls['description'].hasError('required') && form.controls['description'].touched" class="mat-text-warn">You must include description.</small>
        </div>
        <div fxLayout="row" class="mb-3" fxLayoutAlign="start center">
            <md-input-container style="width: 100%" class="ml-xs mr-xs" style="width: 100%;">
                <input mdInput placeholder="Url Title"  [(ngModel)]="slider.urlTitle" [formControl]="form.controls['urlTitle']" type="text" required>
              </md-input-container>
              <small *ngIf="form.controls['urlTitle'].hasError('required') && form.controls['urlTitle'].touched" class="mat-text-warn">You must include url title.</small>
        </div>
        <div fxLayout="row" class="mb-3" fxLayoutAlign="start center">
            <md-input-container style="width: 100%" class="ml-xs mr-xs" style="width: 100%;">
                <input mdInput placeholder="Url"  [(ngModel)]="slider.url" [formControl]="form.controls['url']" type="text" required>
              </md-input-container>
              <small *ngIf="form.controls['url'].hasError('required') && form.controls['url'].touched" class="mat-text-warn">You must include url.</small>
         </div>
      </md-card-content>
    <hr>
      <md-card-actions>
          <button md-raised-button color="primary" type="submit" (click)="createOrUpdateSlider()" [disabled]="!form.valid">Submit</button>
        </md-card-actions>
  </form>
</md-card>
   
