<md-card>
  <md-card-content>
    <div fxLayout="row"  fxLayoutWrap="wrap">
      <div fxFlex.gt-xs="40%" fxFlex="100%">
        <h3 class="mt-0">Bookings</h3>
      </div>
      <div fxFlex.gt-xs="25%" fxFlex="100%" class="text-sm-right text-xs-left">
        <input  [mdDatepicker]="minDatePicker"  placeholder="From Date" #fromDate >
        <button mdSuffix [mdDatepickerToggle]="minDatePicker"></button>
     </div>
       <md-datepicker #minDatePicker [touchUi]="touch"></md-datepicker>
    
     <div fxFlex.gt-xs="25%" fxFlex="100%" class="text-sm-right text-xs-left">
        <input  [mdDatepicker]="maxDatePicker" placeholder="To Date" #toDate>
        <button mdSuffix [mdDatepickerToggle]="maxDatePicker"></button>
     </div>
        <md-datepicker #maxDatePicker [touchUi]="touch" ></md-datepicker>
      <div fxFlex.gt-xs="10%" fxFlex="100%" class="text-sm-right text-xs-left">
        <button md-raised-button md-button-sm color="primary" class="mr-1" (click)="applyFilterOnTable(fromDate.value,toDate.value);" style="margin-left: 20px;">Submit</button>
      </div>
    </div>
  </md-card-content>
</md-card>
  <ng2-smart-table *ngIf="isDataAvailable" class="table table-bordered" [settings]="settings" [source]="bookings" (custom)="onCustom($event)"></ng2-smart-table>
