@import "../../../assets/styles/scss/components/upload";
@import "../../../assets/styles/scss/components/editor";
.file {
  position: relative;
  height: 40px;
  width: 100px;
}

.file > input[type="file"] {
  position: absoulte;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0
}

.file > label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #666;
  color: #fff;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  cursor: pointer
}